<%- include('partials/header.ejs') %>

    <h3 class="fs-1 text-center"><strong> <%= heading %> </strong></h3>
    <hr class="ruler">

    <div class="section">
        <div class="imagee">
            <img  src="<%= image %>" style="width:350px;height:320px;border-radius:20px">
        </div>
        <div class="text mt-5 px-5">
            <p> <%= para%> </p>

        </div>
        
    </div>
    <hr class="ruler">

    <h2 class="text-center">Have a Great Day !!</h2>




<%- include('partials/footer.ejs') %>